:host {
  ion-content {

    --background: linear-gradient(to bottom, #FFFFFF, #FFFFFF,#FFFFFF,#EDF5EF
);
  }

}


.item {
  margin-bottom: 10px;
  border: solid 1px;
  border-color: cadetblue;
  border-radius: 15px;
}

