<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>A Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img  src="../../../assets/img/favicon.png" style="width: 30%; height: 30%">
  </div>

  <ion-card class="bg-white ion-margin">
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Géolocalisation(Test)</strong></ion-text>
      </h1>

      <p margin-bottom style="font-size: 16px;">
        Cette aplication est un service de codage d'une position courante sur 10 caractères alphanumérique. Elle a été
        créee dans le cardre d'un exercice <b> TEST</b> proposée par <b>Let's Develop.</b>.

      </p>


    </ion-card-content>
  </ion-card>

</ion-content>
